{% extends 'base.html.twig' %}

{% block title %}Hello DoingController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for alert in app.flashes('notice') %}
        <span class="alert alert-success" role="alert">{{ alert }}</span>
    {% endfor %}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/francklin/Documents/Projet/todo_list/src/Controller/DoingController.php'|file_link(0) }}">src/Controller/DoingController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/francklin/Documents/Projet/todo_list/templates/doing/index.html.twig'|file_link(0) }}">templates/doing/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
